<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.1518.46" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net472" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net472" />
  <package id="Natsurainko.FluentCore" version="2.0.3" targetFramework="net472" />
  <package id="Natsurainko.Toolkits" version="1.0.3" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Dataflow" version="7.0.0" targetFramework="net472" />
</packages>